menu ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}
menu ul li{
    background-color: gray;
}
menu ul li a{
    color: black;
    text-decoration: none;
}